.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

// .main-nav-row {
//   display: flex;
//   flex-direction: row;
//   background-color: red;
// }

.logout {
  margin: 0;
  padding: 0;
  color:#42b983;
  font-weight: bolder;
}

.main-nav-connect {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
.main-nav-logo {
    display: flex;
    align-items: center;
}
.main-nav-logo-image {
    max-width: 100%;
    width: 200px;
}

.main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
  }
  
  .main-nav-item:hover {
    text-decoration: underline;
  }
