.columnInput {
  margin: 0;
  display: flex;
  flex-direction: column;
  // justify-content:center;
  gap: 10px;
}

.input-edit {
  width: 150px;
}
.editForm {
  margin-top: 15px;
  width: 300px;
  border-radius: 5px;
 background-color: rgb(29, 64, 29);

  padding-top: 1px;
}
.edit-button-profile {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;

  & button {
    width: 120px;
    margin-top: 10px;
    border-radius: 3px;
  
    &:hover{
      opacity:0.95;
    }
  }
}



